@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
}

/* font*/
.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
/* commmon Styles */

.primary-btn{
    background-color: #FF900E;
    color: white;
    border-radius: .5rem;
    text-align: center;
    padding: 12px 18px;
    margin: 30px 0;
    border: none;
    font-size: 1.2rem;
    transition: all .3s ease ;
    box-sizing: border-box;
}
.primary-btn:hover{
    background-color: transparent;
    outline: 2px solid #FF900E;
    color: #FF900E;
  
}
.primary-color{
    color: #FF900E;
}
.primary-color-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-color{
   color:  #131313;
}
.text-color2{
   color:  #727272;
}
.text-align-center{
    text-align: center;
}
.display-flex{
    display: flex;
}
.section-title{
    font-size: 4rem;
    font-weight: 700;
}
.section-description{
    font-size: 1rem;
    color: rgb(114, 114, 114);
}

/* header seection */
.header{
    justify-content: space-between;
    align-items: center;
    padding:0 200px;
    height: 80px;
}

.nav-item{
    padding: 0 20px;
    list-style: none;
}
.nav-link{
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
}

/* main  */

.main{
    max-width: 80%;
    margin: 0 auto;
}
/* banner section */

.banner{
    padding:0 200px;
}
.banner-contenet{
    width: 60%;
    margin: 0 auto;
}
.banner-img {
    width: 100%;
    padding: 50px 0;
}
.banner-img img{
    width: 100%;
}
/* features section */
.features{
    display: flex;
    padding: 100px 0;
    gap: 80px;
    align-items: center;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


/* Responsive Css */

@media screen and (max-width:576px){
    .header,
    .nav-links,
    .features{
        flex-direction:column;
    }
    .banner-contenet{
        width: 90%;
    }
    .header{
        padding: 20px 0;
        height: auto;
    }
    .logo h1{
        font-size: 1rem;
    }
    .banner{
        padding:0 20px;
    }
    .section-description{
        font-size: .5rem;
    }
    .section-title{
        font-size: 2rem;
    }
    .team-image{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:577px) and (max-width:920px) {
    .features{
        flex-direction:column;
    }
    
    .header{
        padding: 0 60px;
    }
    .section-description{
        font-size: .8rem;
    }
    .section-title{
        font-size: 2.5rem;
    }
    .banner{
        padding:0 100px;
    }

}